{% extends 'base.html.twig' %}

{% block title %}Les produits
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Les produits</h1>
    </div>

    <div class="row">
        {% for produit in produits %}
            <div class="col-6 mt-6">
                <div class="border border-dark rounded p-4 clearfix">
                    <h2>
                        {{ produit.nom }}
                        -
                        {{ produit.prix }}
                        €
                    </h2>

                    <img class="img-fluid rounded" src="{{ produit.img }}" alt="Image de {{ produit.nom }} ">
                    <hr>
                    <a href="/add/{{ produit.id }}/{{ panier.id }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
