<!doctype html>
<!--
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users | Bootstrap Simple Admin Template</title>
    <link href="{{ asset('assets1/assets/vendor/fontawesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/assets/vendor/fontawesome/css/solid.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/assets/vendor/fontawesome/css/brands.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/assets/vendor/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/assets/css/master.css') }}" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <img src="{{ asset('assets1/assets/img/bootstraper-logo.png') }}" alt="bootraper logo" class="app-logo">
        </div>
        <ul class="list-unstyled components text-secondary">
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="#pagesmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-copy"></i> Produis & Categories </a>
                    <ul class="collapse list-unstyled" id="pagesmenu">
                        <li>
                            <a href="/products"><i class="fas fa-file"></i> Liste des produits</a>
                        </li>
                        <li>
                            <a href="/add_product"><i class="fas fa-info-circle"></i> Ajouter produits</a>
                        </li>

                    </ul>
                </li>
            </ul>

            <li>
                <a href="/list"><i class="fas fa-file-alt"></i> Forum</a>
            </li>
            <li>
                <a href="/list4"><i class="fas fa-table"></i> Commentaires</a>
            </li>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="#pagesmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-copy"></i> Evenement&Reservation </a>
                    <ul class="collapse list-unstyled" id="pagesmenu">
                        <li>
                            <a href="/list11"><i class="fas fa-file"></i> Liste des events</a>
                        </li>
                        <li>
                            <a href="/new11"><i class="fas fa-info-circle"></i> Ajouter events</a>
                        </li>
                        <li>
                            <a href="/list23"><i class="fas fa-info-circle"></i> afficher reservation</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <li>
                <a href="/admin_list"><i class="fas fa-chart-bar"></i> Liste des commandes</a>
            </li>
            <li>
                <a href="/adminusers"><i class="fas fa-icons"></i> Users</a>
            </li>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="#pagesmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-copy"></i> Guides </a>
                    <ul class="collapse list-unstyled" id="pagesmenu">
                        <li>
                            <a href="/admin/guides"><i class="fas fa-file"></i> Liste des guides</a>
                        </li>
                        <li>
                            <a href="//adminajoutguide"><i class="fas fa-info-circle"></i> Ajouter produits</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <li>
                <a href="#uielementsmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> UI Elements</a>
                <ul class="collapse list-unstyled" id="uielementsmenu">
                    <li>
                        <a href="ui-buttons.html"><i class="fas fa-angle-right"></i> Buttons</a>
                    </li>
                    <li>
                        <a href="ui-badges.html"><i class="fas fa-angle-right"></i> Badges</a>
                    </li>
                    <li>
                        <a href="ui-cards.html"><i class="fas fa-angle-right"></i> Cards</a>
                    </li>
                    <li>
                        <a href="ui-alerts.html"><i class="fas fa-angle-right"></i> Alerts</a>
                    </li>
                    <li>
                        <a href="ui-tabs.html"><i class="fas fa-angle-right"></i> Tabs</a>
                    </li>
                    <li>
                        <a href="ui-date-time-picker.html"><i class="fas fa-angle-right"></i> Date & Time Picker</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#authmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-user-shield"></i> Authentication</a>
                <ul class="collapse list-unstyled" id="authmenu">
                    <li>
                        <a href="login.html"><i class="fas fa-lock"></i> Login</a>
                    </li>
                    <li>
                        <a href="signup.html"><i class="fas fa-user-plus"></i> Signup</a>
                    </li>
                    <li>
                        <a href="forgot-password.html"><i class="fas fa-user-lock"></i> Forgot password</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pagesmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-copy"></i> Pages</a>
                <ul class="collapse list-unstyled" id="pagesmenu">
                    <li>
                        <a href="blank.html"><i class="fas fa-file"></i> Blank page</a>
                    </li>
                    <li>
                        <a href="404.html"><i class="fas fa-info-circle"></i> 404 Error page</a>
                    </li>
                    <li>
                        <a href="500.html"><i class="fas fa-info-circle"></i> 500 Error page</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/views"><i class="fas fa-user-friends"></i>views</a>
            </li>
            <li>
                <a href="/admin/logs"><i class="fas fa-user-friends"></i>logs</a>
            </li>
            <li>
                <a href="settings.html"><i class="fas fa-cog"></i>Settings</a>
            </li>
        </ul>
    </nav>
    <div id="body" class="active">
        <nav class="navbar navbar-expand-lg navbar-white bg-white">
            <button type="button" id="sidebarCollapse" class="btn btn-light"><i class="fas fa-bars"></i><span></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="nav-dropdown">
                            <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-link"></i> <span>RH</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                                <ul class="nav-list">
                                    <li><a href="/admin/ajoutguide" class="dropdown-item"><i class="fas fa-list"></i> Ajouter un guide</a></li>
                                    <div class="dropdown-divider"></div>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-dropdown">
                            <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-user"></i> <span>Admin Area</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                                <ul class="nav-list">

                                    <li><a href="/deconnexion" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="container">
                <div class="page-title">
                    <h3>Guides
                        <a href="roles.html" class="btn btn-sm btn-outline-primary float-right"><i class="fas fa-user-shield"></i> Imprimer</a>
                    </h3>
                </div>
                <div>

                </div>

                <div class="box box-primary">
                    <script src="{{ asset('assets1/jquery.min.js') }}"></script>
                    <input type="search" class="form-control form-control-sm" placeholder="rechercher" aria-controls="dataTables-example" id="search">                </div>

                <div class="box-body">
                        <table width="100%" class="table table-hover" id="tableac">
                            <thead>
                            <tr>
                                <th>Nom d'utilisateur</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for guide in guides %}
                                <tr>
                                    <td>{{ guide.prenom }}</td>
                                    <td>{{ guide.nom }}</td>
                                    <td>{{ guide.endroit }}</td>
                                    <td class="text-right">
                                        <a href="/editguides/{{ guide.id }}" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                        <a href="/deleteguide/{{ guide.id }}" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                        <button type="button" class="btn btn-primary">Profile</button>

                                    </td>
                                </tr>

                            {% endfor %}
                            <script>
                                $(document).ready(function(){
                                    $('#search').keyup(function(){
                                        search_table($(this).val());
                                    });
                                    function search_table(value){
                                        $('#tableac tbody tr').each(function(){
                                            var found = 'false';
                                            $(this).each(function(){
                                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                                {
                                                    found = 'true';
                                                }
                                            });
                                            if(found == 'true')
                                            {
                                                $(this).show();

                                            }
                                            else
                                            {
                                                $(this).hide();

                                            }
                                        });
                                    }
                                });
                            </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets1/assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets1/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets1/assets/vendor/datatables/datatables.min.js') }}"></script>
<script src="{{ asset('assets1/assets/js/initiate-datatables.js') }}"></script>
<script src="{{ asset('assets1/assets/js/script.js') }}"></script>
</body>

</html>