





    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Test {% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-3.3.5-dist/css/bootstrap.css')}}"/>
        <link rel="stylesheet" href="{{ asset('toastr/toastr.min3f0d.css?v2.2.0')}}">
        {% endblock %}
    </head>
    <body>
    {% block body %}
        <button class="btn btn-success" data-toggle="modal" data-target="#add_new_record_modal">Ajouter Personne</button>
        <div class="modal fade" id="add_new_record_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                <h4 class="modal-title" id="myModalLabel">Ajouter Personne</h4>
            </div>

            {{ form_start(edit_form) }}

            {{ form_widget(edit_form) }}
            <input type="submit" value="submit" >
            {{ form_end(edit_form) }}






        </div>


    {% endblock %}
    {% block javascripts %}

        <script src="{{ asset('bootstrap/js/bootstrap.min.js')}}"></script>
        <!-- Jquery JS file -->
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js')}}"></script>

        <!-- Bootstrap JS file -->
        <script type="text/javascript" src="{{ asset('bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('toastr/toastr.min.js')}}"></script>
        <!-- Custom JS file -->
        <script type="text/javascript" src="{{ asset('js/script.js')}}"></script>
    {% endblock %}
    </body>
    </html>