{% extends 'base.html.twig' %}
{% block title%} Liste des categories{% endblock %}

{% block body %}
    {% if categories %}
        <table id="categories" class="table table-striped">
            <thead>
            <tr>
                <th>Categorie</th>
            </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr>

                    <td>{{ categorie.nom }}</td>
                    <td>

                    <td><a href="{{ path('categorie', {'id': categorie.id}) }}"class="btn btn-dark">Details</a></td>
                    <td><a href="{{ path('modify_categorie', {'id': categorie.id}) }}"class="btn btn-dark">Modifier</a></td>
                    <td><a href="{{ path('delete_categorie', {'id': categorie.id}) }}"class="btn btn-dark"
                           onclick="return confirm('Etes-vous sûr de supprimer cet article?');">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun articles</p>
    {% endif %}
    <td><a href="{{ path('add_categorie') }}"class="btn btn-dark">ajouter categorie</a></td>
{% endblock %}